# Python
__pycache__/
*.py[cod]
*.egg-info/

# Test/lint cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ambienti virtuali
.venv/
venv/
env/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Log
*.log
